@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
}
